<h3>Login</h3>
<form method = "post" action = "<%= session_url %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email"> Email: 
        <input type = "text" id="email" name ="user[email]" value = "">
    </label>
    <br>
    <label for="password"> Password:
        <input type = "password" id = "password" name = "user[password]" value = "">
    </label>
    <br>
    <input type = "submit" value = "Login">
</form>