<form method="post" action ="<%= bands_url %>">
    <input type = "hidden" name = "authenticity_token" value ="<%= form_authenticity_token %>">
    <label for="band_name"> Band Name: 
        <input type = "text" id = "band_name" name="band[name]" value ="">
    </label>    
    <input type = "submit" value = "Add">
</form>