<h3>Sign Up</h3>
<form action = "<%= users_url %>" method = "post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email"> Email: 
        <input type = "text" id="email" name ="user[email]" value = "">
    </label>
    <br>
    <label for="password"> Password:
        <input type = "password" id = "password" name = "user[password]" value = "">
    </label>
    <br>
    <input type = "submit" value = "Create Account">
</form>